* {
	font: normal 14px/18px sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

#alert {
	visibility: hidden;
	position: absolute;
	background-color: #ff8080;
	border-radius: 10px;
	border: 2px solid #f00;
	padding: 20px 10px 0 10px;
	min-width: 300px;
	top: 120px;
}

#alert .btn {
	display: inline-block;
	min-width: 80px;
	border-radius: 5px;
	float: right;
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 5px;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
}


#styleseditbox {
	position: absolute;
	visibility: hidden;
	width: 400px;
	top: 120px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #fff;
	padding: 20px;
}



#styleseditbox p:first-child {
	font: bolder 20px/20px sans-serif;
	color: #ea5507;
	margin-bottom: 25px;
}

#styleseditbox input, label, select {
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	margin-bottom: 10px;
}

#styleseditbox input[type="text"], select {
	min-width: 200px;
}

#styleseditbox input[type="color"] {
	width: 28px;
	height: 28px;
	border: 0;
}

#styleseditbox label {
	display: inline-block;
	min-width: 100px;
}

#styleseditbox p.buttonbar {
	margin-top: 20px;
	text-align: right;
}

#styleseditbox p.buttonbar button {
	min-width: 80px;
}

#allstyleslistbox {
	position: absolute;
	visibility: hidden;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #fff;
	padding: 10px;
	top: 60px;
	min-width: 500px;
}

#allstyleslistbox p {
	padding: 4px 2px 4px 5px;
	line-height: 28px;
}

#allstyleslistbox p.listhead {
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
}

#allstyleslistbox p span.column_delete {
	float: right;
}

#allStylesContent input {
	float: right;
	margin-bottom: 0;
	margin-right: 10px;
	padding: 2px;
}

#allstyleslistbox button {
	min-width: 80px;
	float: right;
	margin-top: 15px;
}

#adduserbox {
	position: absolute;
	visibility: hidden;
	width: 300px;
	top: 120px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #fff;
	padding: 20px;
}

#adduserbox label, input, select {
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	margin-bottom: 10px;
}

#adduserbox input, select {
	min-width: 200px;
}

#adduserbox p:first-child {
	font: bolder 20px/20px sans-serif;
	color: #ea5507;
	margin-bottom: 25px;
}
#adduserbox p label {
	display: inline-block;
	min-width: 80px;
}

#adduserbox p.buttonbar {
	margin-top: 20px;
	text-align: right;
}

#adduserbox p.buttonbar button {
	min-width: 80px;
}

header {
	background-color: #EA5507;
}

header div.headcontent {
	display: inline-block;
	line-height: 75px;
	vertical-align: middle;
}

header div.headcontent p.apptitle {
	font: bolder 28px/75px 'Kadwa', sans-serif;
	color: #fff;
	margin: 0 50px;
}

header div.headcontent select {
	width: 150px;
	height: 36px;
	border: 0;
	border-radius: 5px;
	margin-bottom: 0;
}

header div.headcontent #reloadbutton {
	margin-bottom: -4px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

header div.headcontent div#searchbox {
	vertical-align: middle;
	display: inline-block;
	background-color: #fff;
	padding: 0 5px;
	border-radius: 5px;
}

header div#rightcontent {
	width: 400px;
	text-align: right;
	float: right;
}

header div#rightcontent div#searchbox input {
	height: 36px;
	margin-bottom: 0;
	border: 0;
}


header div#rightcontent div#searchbox img {
	margin-bottom: -7px;
	cursor: pointer;
}

header div#rightcontent img#menubutton {
	margin-bottom: -7px;
	margin-right: 15px;
	margin-left: 15px;
	cursor: pointer;
}

header #menu {
	visibility: hidden;
	display: inline-block;
	position: absolute;
	list-style-type: none;
	margin-top: 20px;
	margin-left: -210px;
	width: 200px;
	border: 1px solid #000;
}

#menu li {
	text-align: left;
	display: block;
	padding: 5px;
	background-color: #fff;
	line-height: 28px;
	cursor: pointer;
}

#menu .separator {
	border-bottom: 1px solid #ccc;
}

#menu li:hover {
	background-color: #ea5507;
}

/*
main {
	border: 1px solid #BFBFBF;
	display: block;
	min-height: 500px;
	max-height: 800px;
	width: 99%;
	overflow: auto;
	margin: 5px;
}
*/

#scrollArea {
	margin: 3px;
	border: 1px solid #ccc;
	height: 700px;
}

#contentArea {
	padding: 5px;
}

#contentArea * {
	font: normal 14px/14px monospace;
}

#contentArea p{
    white-space: nowrap;
}



#contentArea p.normal {
	background-color: #ffe;
}

#contentArea span.found {
	background-color: #0cc;
}

footer {
	margin-left: 5px;
}