<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>LogViewer</title>
		<link href="js/Clusterize.js/clusterize.css" rel="stylesheet">
		<script src="js/Clusterize.js/clusterize.min.js"></script>

		<script th:utext="${websocket}"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/websocket.js"></script>
		<script type="text/javascript" src="js/search.js"></script>

		<link rel="stylesheet" href="css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Kadwa:700" rel="stylesheet">
		<style type="text/css" th:text="${stylesheet}"></style>
	</head>
	<body>
		<div id="dialogs">
			<div id="styleseditbox">
				<p>New View-Style</p>
				<p>
					<label for="typeslct">Type:</label>
					<select id="typeslct" name="typeslct">
						<option value="line">Line</option>
						<option value="section">Section</option>
					</select>
				</p>
				<p>
					<label for="namefld">Style-Name:</label>
					<input type="text" id="namefld" name="namefld" />
				</p>
				<p>
					<label for="expressionfld">Expression:</label>
					<input type="text" id="expressionfld" name="expressionfld" />
				</p>
				<p>
					<label for="bgcolorfld">BG-Color:</label>
					<input type="text" id="bgcolorfld" name="bgcolorfld" value="#ffffff" />
					<input type="color" onchange="updateBgcolorField(this)" />
				</p>
				<p>
					<label for="fgcolorfld">FG-Color:</label>
					<input type="text" id="fgcolorfld" name="fgcolorfld" value="#000000" />
					<input type="color" onchange="updateFgcolorField(this)" />
				</p>
				<p>&nbsp;</p>
				<p>
					<input type="checkbox" id="notifybx" name="notifybx" />
					<label for="notifybx">Show notification</label>
				</p>
				<p>
					<input type="checkbox" id="mailbx" name="mailbx" />
					<label for="mailbx">Send E-Mail</label>
				</p>
				<p class="buttonbar">
					<button onclick="closeStylesEditBox();">Close</button>
					<button onclick="saveNewCSS();">Save</button>
				</p>
			</div>
			<div id="allstyleslistbox">
				<p class="listhead"><span class="column_name">Style-Name</span><span class="column_delete">Delete</span></p>
				<div id="allStylesContent"></div>
				<button onclick="hideAllStylesListBox();">Close</button>
				<button onclick="saveDeleteStyles();">Delete</button>
			</div>
			<div id="adduserbox">
				<p>New User</p>
				<p>
					<label for="usernamefld">Username:</label>
					<input type="text" id="usernamefld" name="usernamefld" />
				</p>
				<p>
					<label for="userpassfld">Password:</label>
					<input type="password" id="userpassfld" name="userpassfld" />
				</p>
				<p>
					<label for="userrolelist">Role:</label>
					<select id="userrolelist">
						<option>ROLE_USER</option>
						<option>ROLE_ADMIN</option>
					</select>
				</p>
				<p class="buttonbar">
					<button onclick="closeAdduserBox();">Close</button>
					<button onclick="saveNewUser();">Save</button>
				</p>
			</div>
			<div id="alert">Alert</div>
		</div>
		<header>
			<div class="headcontent">
				<p class="apptitle">LogViewer</p>

			</div>
			<div class="headcontent">
				<select id="linestyleselect" th:utext="${linestyleopts}"></select>
				<select id="sectstyleselect" th:utext="${sectstyleopts}"></select>
				<select id="fileselect" th:utext="${logfileopts}"></select>
				<img id="reloadbutton" src="img/reload.svg" alt="Reload" onclick="startLogReader();" />
			</div>

			<div class="headcontent" id="rightcontent">
				<div id="searchbox">
					<input type="text" id="searchfield" onkeypress="search(event);" placeholder="Search..." />
					<img id="searchbutton" src="img/search.svg" alt="search" onclick="doSearch();" />
				</div>
				<img id="menubutton" src="img/menu.svg" alt="Menu" onclick="showMenu();" />

				<ul id="menu" onmouseleave="hideMenu();" th:utext="${menuopts}"></ul>
			</div>

		</header>
		<div id="scrollArea" class="clusterize-scroll">
			<div id="contentArea" class="clusterize-content">
				<div class="clusterize-no-data"></div>
			</div>
		</div>

		<footer>
			<p th:text="'&copy; WeSustain GmbH ' + ${year}" />
		</footer>
	</body>
</html>
